#This file should define all constants that are needed to run the SMCM

N2 = 0.0001 # squared Brunt-Vaisala frequncy [s^-1]
Hm = 5000. #average middle toroposphere level [m]
theta0 = 300. # reference temperature [K]
ZT = 16000. #height of the troposphered [m]
beta = 2.2804e-11 #tropical coriolis force gradient [sec^-1 m^-1]
tebmtembar = 6.5 #THETA_eb - THETA_em
tebmtembar_l = 6.5 #THETA_eb - THETA_em [K] for land
tebmtembar_o = 11. #THETA_eb - THETA_em for ocean
g=9.81 #[m/s^2] gravity acceleration

#the characteristic timesteps
tau10 = 5
tau20 = 5.
tau30 = 5.
tau12 = 2.
tau01 = 1.
tau02 = 2.
tau23 = 1.13
#the nearest neighbor interaction
nb = 8

#the number of the microscopic sites
n = 70

#the number of the macorcells sites per coarse site
q = 10

#the nuber of gridpoints in the macroscopic filed
ngrid = 10
mgrid = 10

#how long should the model be integrted
tend = 136 #[h]

#the time-step for integration
dt = 0.166666666666666666666666666666666

#The constant local interaction potential
J00 = 0.00

#Should there be any interaction considered (second gamma term)
interact = True
#How should the interaction be done [multiply/add]
type = multiply
#type = add

#FOR THE TEST RUN ONLY
#
#what form should the land-sea-mask have
landmask = ~/Data/Cmorph_slm.nc   # If coastline is real world where is the data
#v : vertical coast line
#h : horizontal coast line
#i : square island in the middle
#coast_XX : real world mask (the name of the box in boxes.txt)
#form = coast_06
form = v
# How strong should the thermal heating contrast get, None means we get 
# observations
dtmax = 1.5
mul = 0.8 #The muliplyier that is applied to dtmax
add_c = 0.45 #The constant that is multplied when thc is added to C and D
phase = 1.0 #How many waves per sun day for the heating difference
#if the model should be forced with observations from which location
#obs = coast_06
obs = None
# The random seed for random number generation
seed = None

#When should the simulation start (format YYYY-mm-DD-HH:MM)
start = 2005-03-21_18:00
#Should the output be animated, if so which cloudtype (deep, con, strat)
animate = None
#Animate only the land-sea-mask
plotmask = False


